{% extends 'base.html.twig' %}

{% block title %}
	Players
{% endblock %}

{% block body %}

	<div class="container">
		<div id="search-box">
			<form method="get" action="{{ path('app_player') }}">
				<input type="text" name="search" value="{{ search }}" placeholder="Search players by name">
				<button type="submit">
					Search
				</button>
			</form>
		</div>

		{% for player in players %}
			{% if (player.id != user.id) %}
				<div class="player">
					<div class="player-img">
						<img src="{{asset(player.profilepicture) }}">
					</div>
					<div class="player-data">
						<h2>
							{{player.username}}
						</h2>
					</div>
					<div class="player-controls">
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('app_admin_control', {'id': player.id}) }}" class="button">
								Admin control
							</a>

						{% endif %}


						{% if player.id in friendsIds %}
							<a href="{{ path('message_index', { id: player.id }) }}" class="button">
								Send message
							</a>
						{% endif %}
						{% if player.id not in friendsIds %}
							{# 2 opties: wel of geen vriendschapsverzoek verzonden #}
							{% if receiverIds is defined and player.id in receiverIds %}
								<a href="" class="button">
									Pending Friendrequest
								</a>
							{% endif %}

							{% if user.isRestrictedFromFriendRequests == false %}
								{% if receiverIds is defined and player.id not in receiverIds %}
									<a href="{{ path('message_friendRequest', { id: player.id}) }}" class="button">
										Add Friend
									</a>
								{% endif %}
							{% endif %}
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% endfor %}


	</div>
{% endblock %}
