{% extends 'base.html.twig' %}

{% block title %}
	Leaderboard
{% endblock %}

{% block body %}
	<div class="container">
		<h1>
			Top 10 Scores
		</h1>
		{# toegevoegd #}
		<span>Sort by: 
		<a href="{{ path('app_game_leaderboard', {'id': gameId, 'orderBy': 's.score', 'direction': 'ASC'}) }}" class="button">score asc</a>
		<a href="{{ path('app_game_leaderboard', {'id': gameId, 'orderBy': 's.score', 'direction': 'DESC'}) }}" class="button">score desc</a>
		<a href="{{ path('app_game_leaderboard', {'id': gameId, 'orderBy': 's.time', 'direction': 'ASC'}) }}" class="button">time asc</a>
		<a href="{{ path('app_game_leaderboard', {'id': gameId, 'orderBy': 's.time', 'direction': 'DESC'}) }}" class="button">time desc</a>
		</span>
		{# einde toegevoegd #}
		<table class="game-table">
			<thead>
				<tr>
					<td>
						Username
					</td>
					<td>
						Score
					</td>
					<td>
						Time (seconds)
					</td>
				</tr>
			</thead>
			<tbody>
				{% for score in gameScores %}
					<tr>
						<td>
							{{ score.username }}
						</td>
						<td>
							{{ score.score }}
						</td>
						<td>
							{{ score.time }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>

	<div class="container">
		<h1>
			Chart
		</h1>
		<div id="barChart"></div>
	</div>

<script async defer type="text/javascript">

		let gameScoresArray = {{ gameScores|json_encode|raw }};


let chartData = [['Username', 'Score', 'Time']];
// gameScoresArray.foreach((score) => chartData.push([score.username, score.score, score.time]));
for (let i = 0; i < gameScoresArray.length; i++) {
chartData.push([
gameScoresArray[i].username,
gameScoresArray[i].score,
gameScoresArray[i].time
]);

}

console.log(chartData);

google.charts.load('current', {'packages': ['bar']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
var data = google.visualization.arrayToDataTable(chartData);

var options = {
backgroundColor: 'transparent',
width: 500,
height: 500,
legend: {
textStyle: {
color: 'black',
fontSize: 16
}
},
chartArea: {
backgroundColor: 'transparent'
},
hAxis: {
textStyle: {
color: 'black'
}
},
vAxis: {
textStyle: {
color: 'black'
}
}
};

var chart = new google.charts.Bar(document.getElementById('barChart'));

chart.draw(data, google.charts.Bar.convertOptions(options));
}
	</script>
	

{% endblock %}
