{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ game.name }}</h1>
    <img src ="{{asset(game.thumbnail) }}" class="game-show-img">


    <table class="game-table">
        <tbody>
            <tr>
                <th>Game Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ game.link }}</td>
            </tr>
            <tr>
                <th>API Key</th>
                <td>{{ game.apiKey }}</td>
            </tr>
            <tr>
                <th>IsPublic</th>
                <td>{{ game.isPublic ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
        <a href="{{ path('app_game_index') }}">back to list</a>

</div>


{% endblock %}
