<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<header>
			<h1>Stoom</h1>
			<nav>
				{% if is_granted('ROLE_USER') %}
					<a href="{{ path('app_game_index')}}" class="styledLink">All games</a>
					<a href="{{ path('app_game_friends')}}" class="styledLink">Friends games</a>
					<a href="{{ path('app_player')}}" class="styledLink">Players</a>

				{% endif %}

			</nav>
			<div>
				{% if is_granted('ROLE_USER') %}
					<a href="{{ path('app_profile_show') }}" class="button">{{userEmail}}</a>
					{# nog enkel laten zien wanneer je een vriend hebt #}
					{% if numberOfFriends is defined and numberOfFriends > 0 %}
						<a href="{{ path('message_index', { id: 0})}}" class="button">Message</a>
					{% endif %}
					{% if (unreadMessagesCount is defined) and (unreadMessagesCount > 0) %}
						{# <span id="unread-messages">{{unreadMessages}}</span> #}

						<a id="unread-messages" href="{{ path('message_index', { id: 0})}}">{{unreadMessagesCount}}</a>


					{% endif %}


					{# {% endif %} #}

				{% else %}
					<a href="{{ path('app_login') }}" class="button">Login</a>


				{% endif %}


			</div>
		</header>

		{% block body %}{% endblock %}
	</body>
</html>
